{{#each this}}
<li class="gallery__card list" id={{id}}>
    {{#if poster_path}}
          <div class="gallery__card-thumb">
          <img
            class="gallery__image"
            src='https://image.tmdb.org/t/p/w500{{poster_path}}'
            alt='{{title}}'
          />
        {{else}}
          <img
            src='https://i.ibb.co/kQLqyLM/movie-850.png'
            alt='no_poster'
          />
        {{/if}}
      </div>
    <div class="gallery__card-caption">
    <h2 class="gallery__title">{{title}}</h2>
    {{#each genres}}
    <span class="gallery__text"> {{name}} </span>
    {{/each}}
     <span class="gallery__text">| {{year}}</span>
     <span class="is-hidden gallery__card-rating">{{vote_average}}</span>
     </div>
</li>
  
{{/each}}