<li class="gallery__card" >
  <article id={{id}}>      
    <div class="gallery__card-thumb">
         {{#if poster_path}}
          <img
            class="gallery__image"
            src='https://image.tmdb.org/t/p/w500{{poster_path}}'
            loading="lazy"
            alt='{{original_title}}'
          /> 
           {{else}}
          <img
            class="gallery__image"
            src='https://raw.githubusercontent.com/VikOrlovskiy/Filmoteka-team-project/main/src/images/icons/poster.png'
            alt='no_poster'
          />
        {{/if}}
    </div>
    <div class="gallery__card-caption">
      <h3 class="gallery__title">{{original_title}}</h2>
      <p class="gallery__text"> {{genres}}
        <span class="gallery__text">| {{release_date}}</span>
        <span class="gallery__card-rating">{{vote_average}}</span>
      </p>
  </article>   
</li>
